<!DOCTYPE html>
<html>
<head>
	<title>TechnoArena</title>
  <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/ta_logo_full1.png?alt=media&token=b401f8b5-a7ea-4918-b169-f62558be3d12" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/searchhome.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" style="font-size:30px;" href="/">
    <img src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/ta_logo_full1.png?alt=media&token=b401f8b5-a7ea-4918-b169-f62558be3d12" height="50" width="50" class="d-inline-block align-center" alt="">TechnoArena</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto" style="margin-right: 95px;">
      <a class="nav-item nav-link active" id="navitem" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" id="navitem" href="/news">News</a>
      <a class="nav-item nav-link" id="navitem" href="/search">Search</a>
      <a class="nav-item nav-link" id="navitem" href="/aboutus">About Us</a>
      <% if(!currentUser){ %>
        <a class="nav-item nav-link" id="navitem" href="/login">Login</a>
      <% } else if(currentUser.name) { %>
        <a class="nav-item nav-link" id="navitem" href="#">Logged In As <%= currentUser.name %></a>
        <a class="nav-item nav-link" id="navitem" href="/logout">Logout</a>
      <% } else if(currentUser.google.name) { %>
        <a class="nav-item nav-link" id="navitem" href="#">Logged In As <%= currentUser.google.name %></a>
        <a class="nav-item nav-link" id="navitem" href="/logout">Logout</a>
      <% } else if(currentUser.facebook.name) { %>
        <a class="nav-item nav-link" id="navitem" href="#">Logged In As <%= currentUser.facebook.name %></a>
        <a class="nav-item nav-link" id="navitem" href="/logout">Logout</a>
      <% } %>
      </div>
  </div>
</nav>
