<%- include("partials/aboutusheader") %>
<%- include("partials/messages") %>

<div class="left">
  <div class="container w3-center">
    <h1 class="w3-center" id="mainHeader">About Us</h1>
  </div>
</div>

<div class="right">
  <h3 class="w3-left-align" id="mainHeaderDev">Developers</h3>
  <div class="container scrollable w3-center">
    <div class="row">
      <div class="column">
        <img class="dev1" src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/Developers%2FComponent%2015%20%E2%80%93%201.png?alt=media&token=f4e58392-8d51-4dc1-a4b7-813083c0fe7e">
        <div class="content">
          <h1 class="w3-center" id="mainDev">Amit Kumar Das</h1>
           <p>UI/Android Developer</p>
            <p>KIIT University</p>
            <p>Bhubaneshwar, Odisha</p>
            <p>amitdasvirat@gmail.com</p>
          </div>
          <div class="followsitesDev1 w3-left-align">
        <a href="https://www.facebook.com/inferno.pegasus/" target="_blank">
        <input type="image" id="facebook" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Ffacebook_3_xxl.png?alt=media&token=e110f327-ff9d-411e-95c0-12a3b3f3d4fe" width="25", height="25"></a>
            <a href="https://www.instagram.com/amitx_das/" target="_blank">
            <input type="image" id="instagram" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Finstagram_xxl.png?alt=media&token=f83a6886-c676-468b-9ba0-1fdf0fab9db9" width="25", height="25" ></a>
            <a href="https://twitter.com/AmitDasVirat" target="_blank">
            <input type="image" id="twitter" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Ftwitter_xxl.png?alt=media&token=b58210a5-c290-43bd-803b-23cf43061a1b" width="25", height="25"></a>
            <a href="https://www.linkedin.com/in/amit-das-41b394187/" target="_blank">
            <input type="image" id="linkedin" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Flinkedin-3-xxl.png?alt=media&token=3cb9ac13-bb76-4759-afdf-0f981ba6cef2" width="25", height="25"></a>
            <a href="https://github.com/amityt" target="_blank">
            <input type="image" id="github" alt="" src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteMaterial%2Fgithub-logo.png?alt=media&token=58dde743-45ab-46fb-afb4-b460d0b4024f" width="25", height="25"></a>
      </div>
      </div>
      <div class="column devcol">
        <img class="dev2" src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/Developers%2FMask%20Group%202.png?alt=media&token=f777748b-194e-45a4-9ef7-bbcea98333bb">
        <div class="content2">
          <h1 class="w3-center" id="mainDev1">Ankit Anurag</h1>
           <p>UX/Web Developer</p>
            <p>KIIT University</p>
            <p>Bhubaneshwar, Odisha</p>
            <p>ankitvarun.mohanty@gmail.com</p>
          </div>
          <div class="followsitesDev2 w3-left-align">
        <a href="https://www.facebook.com/varun.ankitanurag" target="_blank">
        <input type="image" id="facebook" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Ffacebook_3_xxl.png?alt=media&token=e110f327-ff9d-411e-95c0-12a3b3f3d4fe" width="25", height="25"></a>
            <a href="https://www.instagram.com/varun_ankit_anurag/" target="_blank">
            <input type="image" id="instagram" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Finstagram_xxl.png?alt=media&token=f83a6886-c676-468b-9ba0-1fdf0fab9db9" width="25", height="25" ></a>
            <a href="https://twitter.com/varun_ankit2000" target="_blank">
            <input type="image" id="twitter" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Ftwitter_xxl.png?alt=media&token=b58210a5-c290-43bd-803b-23cf43061a1b" width="25", height="25"></a>
			<a href="https://www.linkedin.com/in/ankit-anurag-b81baa134/" target="_blank">
            <input type="image" id="linkedin" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Flinkedin-3-xxl.png?alt=media&token=3cb9ac13-bb76-4759-afdf-0f981ba6cef2" width="25", height="25"></a>
            <a href="https://github.com/AnkitAnurag" target="_blank">
              <input type="image" id="github" alt="" src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteMaterial%2Fgithub-logo.png?alt=media&token=58dde743-45ab-46fb-afb4-b460d0b4024f" width="25", height="25"></a>
      </div>
      </div>
      <div class="column devcol">
        <img class="dev3" src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/Developers%2FIntersection%201.png?alt=media&token=1974a3e4-d126-45ec-afe5-740638a92669">
        <div class="content2">
          <h1 class="w3-center" id="mainDev2">Ritesh Panda</h1>
           <p>Android Developer</p>
            <p>KIIT University</p>
            <p>Bhubaneshwar, Odisha</p>
            <p>1706255@kiit.ac.in</p>
          </div>
          <div class="followsitesDev2 w3-left-align">
        <a href="https://www.facebook.com/ritesh.panda.56" target="_blank">
        <input type="image" id="facebook" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Ffacebook_3_xxl.png?alt=media&token=e110f327-ff9d-411e-95c0-12a3b3f3d4fe" width="25", height="25"></a>
            <a href="https://www.instagram.com/zak_ritz.99/" target="_blank">
            <input type="image" id="instagram" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Finstagram_xxl.png?alt=media&token=f83a6886-c676-468b-9ba0-1fdf0fab9db9" width="25", height="25" ></a>
            <a href="https://twitter.com/varun_ankit2000" target="_blank">
            <input type="image" id="twitter" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Ftwitter_xxl.png?alt=media&token=b58210a5-c290-43bd-803b-23cf43061a1b" width="25", height="25"></a>
			<a href="https://www.linkedin.com/in/ritesh-panda-70587a196/" target="_blank">
            <input type="image" id="linkedin" alt=""
            src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Flinkedin-3-xxl.png?alt=media&token=3cb9ac13-bb76-4759-afdf-0f981ba6cef2" width="25", height="25"></a>
            <a href="https://github.com/AnkitAnurag" target="_blank">
              <input type="image" id="github" alt="" src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteMaterial%2Fgithub-logo.png?alt=media&token=58dde743-45ab-46fb-afb4-b460d0b4024f" width="25", height="25"></a>
      </div>
      </div>
  </div>
</div>
</div>

<%- include("partials/footer") %>