<%- include("partials/header") %>
<%- include("partials/messages") %>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="content">
				<h3>The technology you need at</h3>
				<h1>ONE PLACE!</h1>
			</div>
		</div>
	</div>
		<div class="row">
			<div class="col-lg-12 col-sm-6">
				<div class="maincontent">
				<p>
					Stay updated with the latest technology updates, leaks, news, reviews and a lot more! We're glad that you're here!
				</p>
				
					<a href="/login"><button class="btn btn-default btn-lg">Get Connected!<img src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/double-angle-pointing-to-right.png?alt=media&token=ba53e8aa-3554-41ab-8dc8-a7d6d640fa92" id="connectedimg"></button></a>
				<div class="follow">
				<p>
					Follow us here!
				</p>
				</div>
				<div class="followsites">
				<a href="https://www.w3schools.com">
				<input type="image" id="facebook" alt=""
       			src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Ffacebook_3_xxl.png?alt=media&token=e110f327-ff9d-411e-95c0-12a3b3f3d4fe" width="20", height="20"></a>
       			<a href="https://www.instagram.com/amitx_das/">
       			<input type="image" id="instagram" alt=""
       			src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Finstagram_xxl.png?alt=media&token=f83a6886-c676-468b-9ba0-1fdf0fab9db9" width="20", height="20" ></a>
       			<input type="image" id="twitter" alt=""
       			src="https://firebasestorage.googleapis.com/v0/b/technoarenamobile.appspot.com/o/WebsiteAssets%2FHomepageAssets%2Ftwitter_xxl.png?alt=media&token=b58210a5-c290-43bd-803b-23cf43061a1b" width="20", height="20">
			</div>
				</div>
			</div>
		</div>
	</div>

<%- include("partials/footer") %>
